# Chap 19 Lists: popping elements

In [4]:
tasks = ["email Frank", "call Sarah", "meet with Zach"]
print(tasks)
latest_task_accomplished = tasks.pop(1)

['email Frank', 'call Sarah', 'meet with Zach']

In [2]:
latest_task_accomplished

'call Sarah'

In [5]:
tasks

['email Frank', 'meet with Zach']

In [6]:
tasks.clear()
tasks

[]

In [7]:
my_list = ['pen' , 'pencil' , 'cell phone' , 'axiom team' , 'panacloud' ]
purchase_list = []
for item in my_list:
    purchase_item = my_list.pop()
    purchase_list.append(purchase_item)

# print(purchase_list)

# print(my_list)
x=  my_list.sort()
# my_list
# sorted(my_list)

In [8]:
numbers = [1, 2, 9, 4, 3, 6 ]
numbers.sort()
numbers

[1, 2, 3, 4, 6, 9]

In [9]:
sorted_numbers = sorted(numbers)
sorted_numbers

[1, 2, 3, 4, 6, 9]

In [13]:
x = "n,o,o,r "
y = x.split(",")
y

['n', 'o', 'o', 'r ']

In [14]:
x , y  = ("s" , "u")

In [15]:
x , y

('s', 'u')

In [16]:
my_list = ['pen' , 'pencil' , 'cell phone' , 'pen' ]
print(my_list)
# task = ['call sarah' , 'meet amir']
# task.insert(1 , my_list.pop())
# print(task)


# my_list.sort(reverse = True)
# print(my_list)
# my_list.reverse()
# print(my_list)
x = sorted(my_list)

['pen', 'pencil', 'cell phone', 'pen']

In [17]:
new1_list = [1, 2, 3, 2, 35, 6]
new2_list = new1_list

In [18]:
new2_list = new1_list.copy()
new3_list = new1_list[:]

In [19]:
fruits = [3, 'orange', 'apple', 6, 'pear', 'banana', 'kiwi', 'apple', 'banana']
fruits.reverse()
fruits

['banana', 'apple', 'kiwi', 'banana', 'pear', 6, 'apple', 'orange', 3]

In [20]:
new_list = ['s' , 'w' , 'a', 'v' , 'b' , 'c']
sort_list = sorted(new_list)
print(sort_list)
print(new_list)

['a', 'b', 'c', 's', 'v', 'w']
['s', 'w', 'a', 'v', 'b', 'c']

In [21]:
my_new_list = new_list
print(my_new_list)
new_list.append('z')
print(my_new_list)

['s', 'w', 'a', 'v', 'b', 'c']
['s', 'w', 'a', 'v', 'b', 'c', 'z']

In [22]:
your_list = new_list[:]
print(your_list)
new_list.append('p')
print(your_list)
print(new_list)

['s', 'w', 'a', 'v', 'b', 'c', 'z']
['s', 'w', 'a', 'v', 'b', 'c', 'z']
['s', 'w', 'a', 'v', 'b', 'c', 'z', 'p']

In [ ]:
t = ([12345, 54321, 'hello!'],(1, 3, 4))

t[0][1] = 3
t

In [23]:
a = (2, 3, 5, 6)
a

(2, 3, 5, 6)

In [ ]:
w , x , y, = a
print(w)
print(x)
print(y)

In [24]:
copy_new_list = new_list.copy()
print(copy_new_list)
new_list.append('i')
print(copy_new_list)
print(new_list)

['s', 'w', 'a', 'v', 'b', 'c', 'z', 'p']
['s', 'w', 'a', 'v', 'b', 'c', 'z', 'p']
['s', 'w', 'a', 'v', 'b', 'c', 'z', 'p', 'i']

In [25]:
square = [x**2 for x in range(10)]
print(square)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
x = [[1,2,3], [4,5,6] , [7,8,9]]
# print(x)
print(x[0])
# y = [('x' ,'y') , (1,5) , (6,8)]
# print(y)
# print(y[0])
# z = [{'name' : 'john'},{'name' : 'ada'}]
# print(z)
# print(z[0])

In [26]:
[(x, y) for x in [1,2,3] for y in [3,1,4] if x != y]

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [27]:
num = [2,4,5,6,9] * 2
print(num)

[2, 4, 5, 6, 9, 2, 4, 5, 6, 9]

# Chap 20 Tuples

In [1]:
states_in_order_of_founding = ("Delaware", "Pennsylvania", "New Jersey", "Georgia")
states_in_order_of_founding

('Delaware', 'Pennsylvania', 'New Jersey', 'Georgia')

In [5]:
second_state_founded = states_in_order_of_founding[1]
second_state_founded

'Pennsylvania'

In [ ]:
dimensions = (200, 50)
print(dimensions[0])
print(dimensions[1])

In [ ]:
dimensions = (250 , 50)
print(dimensions)

In [ ]:
x = (1, 2, 3)
a , b , c  = x
print(a)

2019 4 06 Saturday Class

In [6]:
my_tuple = ("hello")
print(type(my_tuple))

<class 'str'>

In [16]:
my_tuple = ('p','r','o','g','r','a','m','i','z')
my_tuple

('p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'z')

In [17]:
print(my_tuple[1:4])

('r', 'o', 'g')

In [20]:
my_tuple
print(my_tuple[:-7])

('p', 'r')

In [15]:
del my_tuple

my_tuple

NameError: name 'my_tuple' is not defined

#  Chap 21 For loop

In [28]:
s = "urdufb"
for i in s :
    print(i)

u
r
d
u
f
b

In [29]:
city_to_check = "Tucson"
cleanest_cities = ["Cheyenne", "Santa Fe", "Tucson", "Great Falls", "Honolulu"]

if city_to_check == cleanest_cities[0]:
    print("It's one of the cleanest cities")
elif city_to_check == cleanest_cities[1]:
    print("It's one of the cleanest cities")
elif city_to_check == cleanest_cities[2]:
    print("It's one of the cleanest cities")
elif city_to_check == cleanest_cities[3]:
    print("It's one of the cleanest cities")
elif city_to_check == cleanest_cities[4]:
    print("It's one of the cleanest cities")

It's one of the cleanest cities

In [25]:
for a_clean_city in cleanest_cities:
    if city_to_check == a_clean_city:
        print("It's one of the cleanest cities")

It's one of the cleanest cities

In [26]:
squares = []
for value in range(1,11,2):
    square = value**2
    squares.append(square)
print(squares)

[1, 9, 25, 49, 81]

<h2>Simple Statistics with a List of Numbers</h2>

In [1]:
digits = [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
min(digits)
max(digits)
sum(digits)

45

# Chap 22 for loop nested

In [ ]:
first_names = ["BlueRay ", "Upchuck ", "Lojack ", "Gizmo ", "Do-Rag "]
last_names = ["Zzz", "Burp", "Dogbone", "Droop"]
full_names = []
for a_first_name in first_names:
    for a_last_name in last_names:
        full_names.append(a_first_name + " " + a_last_name)

# Chap 23 Getting information from the user and converting strings and numbers

In [30]:
city_to_check = input('Enter your city')
if city_to_check == 'karachi':
    print('\n' + city_to_check)

Enter your citydsfsd

In [32]:
income = int(input('Enter your income'))
if income == 1000:
    print('this is too low')

Enter your income231

# Chap 24 Changing case

In [ ]:
cleanest_cities = ["Cheyenne", "cheyenne", "Santa Fe", "santa fe", "Tucson", "tucson", "Great Falls", "great falls", "Honolulu", "honolulu"]
city_to_check = input('Enter your City')
city_to_check = city_to_check.lower()
for city in cleanest_cities:
    if city.lower() == city_to_check:
        print('Its one of the cleanest cities')
        break

# Chap 25 Dictionaries: What they are

# Chap 26 Dictionaries: How to code one

In [48]:
person = {'first_name' : 'Imran' , 'last_name' : 'Khan' , 'age' : 100 }
print(person.keys())

person[2] = 2001
print(person)

dict_keys(['first_name', 'last_name', 'age'])
{'first_name': 'Imran', 'last_name': 'Khan', 'age': 100, 2: 2001}

In [ ]:
things_to_remember = {0: "the lowest number", "a dozen": 12, "snake eyes": "a pair of ones",13: "a baker's dozen"}
things_to_remember