# Chap 15 List

In [ ]:
my_fav_dishes = [True , False]
my_fav_cars = ["Mehran","Nisan" , "Chinchi" , "Khan coach" , "Alto"]
my_fav_dishes

In [1]:
mix_list = ["abc" , 1 , "xyz" , 50]
type(mix_list)
mix_list

['abc', 1, 'xyz', 50]

In [2]:
city_0 = "Atlanta"
city_1 = "Baltimore"
city_2 = "Chicago"
city_3 = "Denver"
city_4 = "Los Angeles"
city_5 = "Seattle"
print("Welcome to " + city_3)

Welcome to Denver

In [4]:
cities = ["Atlanta", "Baltimore", "Chicago", "Denver", "Los Angeles", "Seattle"]
cities[1]

'Baltimore'

In [6]:
cities[1] = "Pakistan"
cities

['Atlanta', 'Pakistan', 'Chicago', 'Denver', 'Los Angeles', 'Seattle']

In [7]:
cities[0]

'Atlanta'

In [10]:
mixed_things = [1, "Bob","Job", "Now is"]
del mixed_things[1]
mixed_things

[1, 'Job', 'Now is']

In [11]:
mixed_things.append("last_val")

In [ ]:
mixed_things.insert(1 , "new_val")

In [12]:
len(mixed_things)
mixed_things.insert(10 , "extra_valu")

In [20]:
same_val_list = ["John" , "Andelena" , "John" , 455.55 ,155]
same_val_list.index("John")
type(same_val_list)

list

In [14]:
list[index] = newval

NameError: name 'newval' is not defined

In [ ]:
list.append()
list.insert(pos , val)
list.insert(unknown , val)
del list[index]