
# Chap 15 List

In [ ]:
city_0 = "Atlanta"
city_1 = "Baltimore"
city_2 = "Chicago"
city_3 = "Denver"
city_4 = "Los Angeles"
city_5 = "Seattle"
print("Welcome to " + city_3)

In [ ]:
cities = ["Atlanta", "Baltimore", "Chicago", "Denver", "Los Angeles", "Seattle"]
print('welcome to' , cities[0])
print(cities[1])

In [ ]:
mixed_things = [1, "Bob","Bob", "Now is"]
#
#type(mixed_things)
#print(mixed_things[1])
#print(type(mixed_things[0]))
1 in mixed_things
mixed_things.index('Bob')

In [ ]:
bicycles = ['trek', 'cannondale', 'redline', 'specialized']
message = "My first bicycle was a " + bicycles[0] + "."
print(message)

In [ ]:
numbers = list(range(1,10))
print(numbers)

In [ ]:
even_numbers = list(range(20,2,-2))
print(even_numbers)

# Chap 16 Lists: Adding and changing elements

In [4]:
cities = ["Atlanta", "Baltimore", "Chicago", "Denver", "Los Angeles", "Seattle"]
#cities.append("New York")
print(cities)
#cities.append('uk')
print(len(cities))
cities.insert(10,'London')
cities.index('London')
cities[6] = 'Karachi'
cities

['Atlanta', 'Baltimore', 'Chicago', 'Denver', 'Los Angeles', 'Seattle']
6

['Atlanta',
 'Baltimore',
 'Chicago',
 'Denver',
 'Los Angeles',
 'Seattle',
 'Karachi']

In [ ]:
friends = ['ali','kamran','farhan','ahmed']
friends2 = ['ali','kamran','farhan','ahmed']
closed_friends = ['ali','ahmed']
for x in friends2:
    if x in closed_friends:
        continue
    else:
        friends.remove(x)
        
friends

In [ ]:
cities = cities + ["Dubuque", "New Orleans"]

In [ ]:
x = 'Pakistan zindabad'
y = x[2:10]
print(y)

In [5]:
cities.insert(0, "Old York")


print(len(cities))
cities.insert(15 , 'pakistan')
cities.find('pakistan')

8

AttributeError: 'list' object has no attribute 'find'

In [ ]:
user = ['user1']
user.insert(5 , 'user2')
user.index('user2')
print(user[5])

In [ ]:
todays_tasks = ['sheep']
todays_tasks = todays_tasks + ["Walk dog", "Buygroceries"]
print(todays_tasks)

# Chap 17 Lists: Taking slices out of them

In [6]:
cities = ["Atlanta", "Baltimore", "Chicago","Denver", "Los Angeles", "Seattle"]
new_cities = cities[1:3]
new_cities

['Baltimore', 'Chicago']

In [7]:
print(cities)
smaller_list_of_cities = cities[2:5]
smaller_list_of_cities

['Atlanta', 'Baltimore', 'Chicago', 'Denver', 'Los Angeles', 'Seattle']

['Chicago', 'Denver', 'Los Angeles']

In [8]:
x = [1,2,3,4]
y = x
y.append(9)
print(y)
print(x)

[1, 2, 3, 4, 9]
[1, 2, 3, 4, 9]

In [9]:
x = [1,2,3,4]
y = x[:]
print(y)
y.append(9)
print(y)
print(x)

[1, 2, 3, 4]
[1, 2, 3, 4, 9]
[1, 2, 3, 4]

In [10]:
new_list = list(range())

SyntaxError: invalid syntax (<ipython-input-10-617baa472f78>, line 1)

In [38]:
#new_list = list(range(10,20))
#print(new_list)
smaller_list = new_list[:-10:-1]
smaller_list

[19, 18, 17, 16, 15, 14, 13, 12, 11]

In [ ]:
print(cities)
smaller_list_of_cities = cities[2:]
smaller_list_of_cities

# Chap 18 Lists: Deleting and removing elements

In [45]:
tasks = ["email Frank", "call Sarah", "meet with Zach"]
#del tasks[0]
tasks

['call Sarah', 'meet with Zach']

In [44]:
removed_element = tasks.remove("call Farhan")
print(tasks)
print(removed_element)

ValueError: list.remove(x): x not in list

In [42]:
x = 'this is slicing on string'
y = x[2:5]
y

'is '

1. make a list of friends
2. make a list of close friends
3. remove friends from friends list who are not close friends