
# Chap 15 List

In [ ]:
city_0 = "Atlanta"
city_1 = "Baltimore"
city_2 = "Chicago"
city_3 = "Denver"
city_4 = "Los Angeles"
city_5 = "Seattle"
print("Welcome to " + city_3)

In [1]:
cities = ["Atlanta", "Baltimore", "Chicago", "Denver", "Los Angeles", "Seattle"]
print('welcome to' , cities[0])
print(cities[1])

welcome to Atlanta
Baltimore

In [12]:
mixed_things = [1, "Bob","Bob", "Now is"]
#
#type(mixed_things)
#print(mixed_things[1])
#print(type(mixed_things[0]))
1 in mixed_things
mixed_things.index('Bob')

1

In [13]:
bicycles = ['trek', 'cannondale', 'redline', 'specialized']
message = "My first bicycle was a " + bicycles[0] + "."
print(message)

My first bicycle was a trek.

In [14]:
numbers = list(range(1,10))
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [18]:
even_numbers = list(range(20,2,-2))
print(even_numbers)

[20, 18, 16, 14, 12, 10, 8, 6, 4]

# Chap 16 Lists: Adding and changing elements

In [25]:
cities = ["Atlanta", "Baltimore", "Chicago", "Denver", "Los Angeles", "Seattle"]
#cities.append("New York")
print(cities)
#cities.append('uk')
print(len(cities))
cities.insert(10,'London')
cities.index('London')
cities[6] = 'Karachi'
cities

['Atlanta', 'Baltimore', 'Chicago', 'Denver', 'Los Angeles', 'Seattle']
6

['Atlanta',
 'Baltimore',
 'Chicago',
 'Denver',
 'Los Angeles',
 'Seattle',
 'Karachi']

In [61]:
friends = ['ali','kamran','farhan','ahmed']
friends2 = ['ali','kamran','farhan','ahmed']
closed_friends = ['ali','ahmed']
for x in friends2:
    if x in closed_friends:
        continue
    else:
        friends.remove(x)
        
friends

['ali', 'ahmed']

In [ ]:
cities = cities + ["Dubuque", "New Orleans"]

In [63]:
x = 'Pakistan zindabad'
y = x[2:10]
print(y)

kistan z

In [ ]:
cities.insert(0, "Old York")


print(len(cities))
cities.insert(15 , 'pakistan')
cities.find('pakistan')

In [ ]:
user = ['user1']
user.insert(5 , 'user2')
user.index('user2')
print(user[5])

In [26]:
todays_tasks = ['sheep']
todays_tasks = todays_tasks + ["Walk dog", "Buygroceries"]
print(todays_tasks)

['sheep', 'Walk dog', 'Buygroceries']

# Chap 17 Lists: Taking slices out of them

In [36]:
cities = ["Atlanta", "Baltimore", "Chicago","Denver", "Los Angeles", "Seattle"]
new_cities = cities[1:3]
new_cities

['Baltimore', 'Chicago']

In [39]:
print(cities)
smaller_list_of_cities = cities[2:5]
smaller_list_of_cities

['Atlanta', 'Baltimore', 'Chicago', 'Denver', 'Los Angeles', 'Seattle']

['Chicago', 'Denver', 'Los Angeles']

In [31]:
x = [1,2,3,4]
y = x
y.append(9)
print(y)
print(x)

[1, 2, 3, 4, 9]
[1, 2, 3, 4, 9]

In [35]:
x = [1,2,3,4]
y = x[:]
print(y)
y.append(9)
print(y)
print(x)

[1, 2, 3, 4]
[1, 2, 3, 4, 9]
[1, 2, 3, 4]

In [48]:
new_list = list(range(1,20))
print(new_list)
smaller_list = new_list[-10:6:-1]
smaller_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

[10, 9, 8]

In [47]:
print(cities)
smaller_list_of_cities = cities[2:]
smaller_list_of_cities

['Atlanta', 'Baltimore', 'Chicago', 'Denver', 'Los Angeles', 'Seattle']

['Chicago', 'Denver', 'Los Angeles', 'Seattle']

# Chap 18 Lists: Deleting and removing elements

In [59]:
tasks = ["email Frank", "call Sarah", "meet with Zach"]
#del tasks[0]
tasks

['email Frank', 'call Sarah', 'meet with Zach']

In [58]:
removed_element =tasks.remove("call Farhan")
print(tasks)
print(removed_element)

ValueError: list.remove(x): x not in list

In [ ]:
x = 'this is slicing on string'
y = x[2:5]
y

1. make a list of friends
2. make a list of close friends
3. remove friends from friends list who are not close friends